@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
html{
    margin: 0;
    height: 100%;
    font-family: 'Nunito';
}

body{
    margin: 0;
    height: 100%;
}

div#root {
    margin: 0;
    height: 100%; /* remove this line to see div.app is no more 100% height */
}