@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.activity_entry
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avatar_image
{
    width: 100%;
    height: auto;
    border-radius: 100px;
    margin-top: 13px;
    margin-left: 0px;
}
.avatar_wrapper
{
    width: 34px;;
    margin-left: 12px;
    padding-right: 8.5px;
}

.activity_entry_text_wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
}

.activity_header
{
    margin-left: 25px;
    border-color: black;
    font-size: 17px;
    font-weight: 600;

}


.activity_container
{
    font-family: 'Nunito' !important;
    padding-bottom: 25px !important;
    width: 280px !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

.activity_message
{
    font-size: 14px;
    width: 150px;
}

.activity_message_wrapper
{
    margin-top: 0px;
    margin-bottom: -11px;
}

.team_entry_row3
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -5px;
    margin-bottom: -5px;
    color: rgb(166, 166, 166);
}

.team_entry_wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #E4E7EC;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    padding-left: 7px;
    
}

.team_entry_grid_item
{
    display: flex;
    justify-content: center;
}

.company_logo_wrapper
{
    width: 35px;
    margin-right: 8px;
    margin-left: 3px;
}

.company_logo
{
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.team_entry_row1
{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.company_title_wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3px;
}

.star_wrapper
{
    display: flex;
    justify-content: flex-end;
}

.grid_wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(210px, auto));
    width: 980px;
    overflow-y: auto;
    height: 620px;
    background-color: white;
}

.star_wrapper
{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.team_activity_wrapper
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    height: auto;
}
.teams_display_wrapper
{
    background: #FFFFFF;
    width: 1050px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 30px;
    height: 100%;
}
.centralize_grid
{
    display: flex;
    justify-content: center;
}

.team_selection_wrapper
{
    display: flex;
    justify-content: space-between;
}

.teams_divider
{
    border: 1px solid #EFEFEF;
    margin-top: 0px;
    margin-bottom: 19px;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #0083E3 !important;
}

.PrivateTabIndicator-colorPrimary-26 {
    background-color:  #0083E3 !important;
}

.overall_wrapper
{
    flex-grow: 1; 
}


.sidebar
{
    width: 80px;
    background: #042235;
    box-shadow: inset -4px 0px 4px rgba(2, 15, 24, 0.569466), inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.app
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    font-family: 'Nunito' !important;
}

.team_icon_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: -30px;
    margin-left: 30px;
}

.team_header_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 10px;
}

.create_new_team_button
{
    border-radius: 8px;
    margin-top: 34px !important;
    margin-right: 18px !important;
    margin-bottom: 3.01px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
    background-color: #35bdab !important;
}

.MuiButton-label
{
    margin-top: -13px;
}

.nav_icons
{
    color: #a9b7c7;
    width: 35px;
    height: auto;
}

.nav_icons_wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.icon_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.icon_wrapper:hover
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color:  #2995DA;
}
.icon_wrapper:hover .nav_icons
{
    color: white !important;
}

.logo
{
    color: white;
    width: 35px;
    height: auto;
}

.selected_icon_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color:  #2995DA;
}

.selected_icon_wrapper .nav_icons
{
    color: white !important;
}

.MuiTab-root
{
    font-family: 'Nunito' !important;
    font-size: 18px !important;
    text-transform: none !important;
}

.dashboard_wrapper
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 1px 0px #E2E2E2;
    
}

.header_left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.header_right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.app_name_text
{
    color: #1A1919;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-size: 18px;
    
}

.app_name_wrapper
{
    border-right: 1px solid #E2E2E2;
    padding-left: 16px;
    padding-right: 16px;
}

.app_page_title_wrapper
{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

.app_page_title_text
{
    font-size: 18px;
    color: #000000;
}
.user_welcome_text
{
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}

.final_wrapper
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.notification_wrapper
{
    padding-right: 3px;
    display: flex;
}

.avatar_headerbar_wrapper
{
    margin-right: 3px;
    margin-top: -3px;
    width: 34px;
    margin-left: -9px;
}

.notif_circle
{
    background: #2995DA;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    width: 18px;
    height: 18px;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: -11px;
    margin-right: -6px;
}

.tab_search_wrapper
{
    display: flex;
    justify-content: space-between;
}

.search_field
{
    height: 23px;
    margin-top: 18px;
    margin-right: 18px;
    padding-left: 10px;
    font-family: 'Nunito' !important;
    font-size: 16px;
    border:none;
}

input:focus
{
    outline: none;
}

.MuiTabs-indicator
{
    width: 86px !important;
    margin-left: 39px;
    background-color: #0083E3 !important;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgb(229, 229, 229);
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(164, 166, 168);
    border: solid 3px transparent;
}